{% extends 'search1/layout.html' %}
{% load static %}
{% block body %}
<header class="header">
    <div></div>
    <div>
        <a href="{% url 'index' %}"> Google search </a>
        <a href="{% url 'advance' %}"> Advance Search </a>
    </div>
</header>
<main class="main">
    <div class="content">
        <img alt="logo" src="{% static 'search1/media/googlelogo.webp' %}" height="180">
        <div>
            <form action="https://www.google.com/search">
                <input type="hidden" name="tbm" value="isch">
                <div id="img_container">
                    <input type="text" id="text" name="q" class="form-control" autofocus autocomplete="off" placeholder="search">
                    <div>
                        <input type="submit" id="submit" value="google search">
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}